<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Etechflow_CanonicalHreflang::license" title="Canonical &amp; Hreflang License" module="Etechflow_CanonicalHreflang"
             sortOrder="96" parent="Magento_Backend::marketing"
             action="canonicalhreflang/license/gate" resource="Etechflow_CanonicalHreflang::config"/>
    </menu>
</config>
